
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<section class="w3l-products py-5" id="projects">
    <div class="container py-lg-3">
        <div class="header-section text-center mx-auto">
            <span class="subhny-title text-center mb-2">Quick Pick</span>
            <h3 class="hny-title text-center mb-5">Popular Goods</h3>
        </div>
        <div class="mt-5">
            <div class="mx-auto">
                <!--Horizontal Tab-->
                <div id="parentHorizontalTab">
                    <ul class="resp-tabs-list hor_1">
                        <li>Fast Food</li>
                        <li>Hot Pizza</li>
                        <li>Raw Meet</li>
                        <div class="clear"></div>
                    </ul>
                    <div class="resp-tabs-container hor_1">
                        <div class="products-content">
                            <div class="row">
                                <div class="col-lg-3 col-sm-6 mt-4">
                                    <div class="content">
                                        <a href="#url">
                                            <img src="~/user/assets/images/1.png" class="img-fluid" alt="">
                                            <div class="lte-item-descr text-center">
                                                <ul class="star-rating d-flex justify-content-center">
                                                    <li>
                                                        <a href="#">
                                                            <span class="fa fa-star  mr-1"
                                                                  aria-hidden="true"></span>

                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span class="fa fa-star  mr-1"
                                                                  aria-hidden="true"></span>

                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span class="fa fa-star  mr-1"
                                                                  aria-hidden="true"></span>

                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span class="fa fa-star  mr-1"
                                                                  aria-hidden="true"></span>

                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span class="fa fa-star  mr-1"
                                                                  aria-hidden="true"></span>

                                                        </a>
                                                    </li>


                                                </ul>
                                                <h4 class="product-title">
                                                    Cheeseburger with
                                                    Salad
                                                </h4>

                                                <p class="mb-4">
                                                    Sed ut perspiciatis unde omnis iste natus
                                                    error sit voluptatem
                                                </p>
                                                <span class="price">
                                                    <span class="amount">
                                                        <span class="price-currency=">$</span>19.00
                                                    </span>
                                                </span>

                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6 mt-4">
                                    <div class="content">
                                        <a href="#url">
                                            <img src="~/user/assets/images/2.png" class="img-fluid" alt="">
                                            <div class="lte-item-descr text-center">
                                                <ul class="star-rating d-flex justify-content-center">
                                                    <li>
                                                        <a href="#">
                                                            <span class="fa fa-star  mr-1"
                                                                  aria-hidden="true"></span>

                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span class="fa fa-star  mr-1"
                                                                  aria-hidden="true"></span>

                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span class="fa fa-star  mr-1"
                                                                  aria-hidden="true"></span>

                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span class="fa fa-star  mr-1"
                                                                  aria-hidden="true"></span>

                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span class="fa fa-star  mr-1"
                                                                  aria-hidden="true"></span>

                                                        </a>
                                                    </li>


                                                </ul>
                                                <h4 class="product-title">Cheeseburger with Bacon</h4>

                                                <p class="mb-4">
                                                    Sed ut perspiciatis unde omnis iste natus
                                                    error sit voluptatem
                                                </p>
                                                <span class="price">
                                                    <span class="amount">
                                                        <span class="price-currency=">$</span>29.00
                                                    </span>
                                                </span>

                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6 mt-4">
                                    <div class="content">
                                        <a href="#url">
                                            <img src="~/user/assets/images/3.png" class="img-fluid" alt="">
                                            <div class="lte-item-descr text-center">
                                                <ul class="star-rating d-flex justify-content-center">
                                                    <li>
                                                        <a href="#">
                                                            <span class="fa fa-star  mr-1"
                                                                  aria-hidden="true"></span>

                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span class="fa fa-star  mr-1"
                                                                  aria-hidden="true"></span>

                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span class="fa fa-star  mr-1"
                                                                  aria-hidden="true"></span>

                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span class="fa fa-star  mr-1"
                                                                  aria-hidden="true"></span>

                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span class="fa fa-star  mr-1"
                                                                  aria-hidden="true"></span>

                                                        </a>
                                                    </li>


                                                </ul>
                                                <h4 class="product-title">Classic Bacon Hamburger</h4>

                                                <p class="mb-4">
                                                    Sed ut perspiciatis unde omnis iste natus
                                                    error sit voluptatem
                                                </p>
                                                <span class="price">
                                                    <span class="amount">
                                                        <span class="price-currency=">$</span>30.00
                                                    </span>
                                                </span>

                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6 mt-4">
                                    <div class="content">
                                        <a href="#url">
                                            <img src="~/user/assets/images/1.png" class="img-fluid" alt="">
                                            <div class="lte-item-descr text-center">
                                                <ul class="star-rating d-flex justify-content-center">
                                                    <li>
                                                        <a href="#">
                                                            <span class="fa fa-star  mr-1"
                                                                  aria-hidden="true"></span>

                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span class="fa fa-star  mr-1"
                                                                  aria-hidden="true"></span>

                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span class="fa fa-star  mr-1"
                                                                  aria-hidden="true"></span>

                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span class="fa fa-star  mr-1"
                                                                  aria-hidden="true"></span>

                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span class="fa fa-star  mr-1"
                                                                  aria-hidden="true"></span>

                                                        </a>
                                                    </li>


                                                </ul>
                                                <h4 class="product-title">
                                                    Cheeseburger with
                                                    Salad
                                                </h4>

                                                <p class="mb-4">
                                                    Sed ut perspiciatis unde omnis iste natus
                                                    error sit voluptatem
                                                </p>
                                                <span class="price">
                                                    <span class="amount">
                                                        <span class="price-currency=">$</span>19.00
                                                    </span>
                                                </span>

                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="products-content">
                            <div class="row">
                                <div class="col-lg-3 col-sm-6 mt-4">
                                    <div class="content">
                                        <a href="#url">
                                            <img src="~/user/assets/images/4.png" class="img-fluid" alt="">
                                            <div class="lte-item-descr text-center">
                                                <ul class="star-rating d-flex justify-content-center">
                                                    <li>
                                                        <a href="#">
                                                            <span class="fa fa-star  mr-1"
                                                                  aria-hidden="true"></span>

                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span class="fa fa-star  mr-1"
                                                                  aria-hidden="true"></span>

                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span class="fa fa-star  mr-1"
                                                                  aria-hidden="true"></span>

                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span class="fa fa-star  mr-1"
                                                                  aria-hidden="true"></span>

                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span class="fa fa-star  mr-1"
                                                                  aria-hidden="true"></span>

                                                        </a>
                                                    </li>


                                                </ul>
                                                <h4 class="product-title">Classic Seafood Pizza</h4>

                                                <p class="mb-4">
                                                    Sed ut perspiciatis unde omnis iste natus
                                                    error sit voluptatem
                                                </p>
                                                <span class="price">
                                                    <span class="amount">
                                                        <span class="price-currency=">$</span>30.00
                                                    </span>
                                                </span>

                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6 mt-4">
                                    <div class="content">
                                        <a href="#url">
                                            <img src="~/user/assets/images/5.png" class="img-fluid" alt="">
                                            <div class="lte-item-descr text-center">
                                                <ul class="star-rating d-flex justify-content-center">
                                                    <li>
                                                        <a href="#">
                                                            <span class="fa fa-star  mr-1"
                                                                  aria-hidden="true"></span>

                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span class="fa fa-star  mr-1"
                                                                  aria-hidden="true"></span>

                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span class="fa fa-star  mr-1"
                                                                  aria-hidden="true"></span>

                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span class="fa fa-star  mr-1"
                                                                  aria-hidden="true"></span>

                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span class="fa fa-star  mr-1"
                                                                  aria-hidden="true"></span>

                                                        </a>
                                                    </li>


                                                </ul>
                                                <h4 class="product-title">Shrimp &amp; Olive Pizza</h4>

                                                <p class="mb-4">
                                                    Sed ut perspiciatis unde omnis iste natus
                                                    error sit voluptatem
                                                </p>
                                                <span class="price">
                                                    <span class="amount">
                                                        <span class="price-currency=">$</span>30.00
                                                    </span>
                                                </span>

                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6 mt-4">
                                    <div class="content">
                                        <a href="#url">
                                            <img src="~/user/assets/images/6.png" class="img-fluid" alt="">
                                            <div class="lte-item-descr text-center">
                                                <ul class="star-rating d-flex justify-content-center">
                                                    <li>
                                                        <a href="#">
                                                            <span class="fa fa-star  mr-1"
                                                                  aria-hidden="true"></span>

                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span class="fa fa-star  mr-1"
                                                                  aria-hidden="true"></span>

                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span class="fa fa-star  mr-1"
                                                                  aria-hidden="true"></span>

                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span class="fa fa-star  mr-1"
                                                                  aria-hidden="true"></span>

                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span class="fa fa-star  mr-1"
                                                                  aria-hidden="true"></span>

                                                        </a>
                                                    </li>


                                                </ul>
                                                <h4 class="product-title">Thin Cheese Pizza</h4>

                                                <p class="mb-4">
                                                    Sed ut perspiciatis unde omnis iste natus
                                                    error sit voluptatem
                                                </p>
                                                <span class="price">
                                                    <span class="amount">
                                                        <span class="price-currency=">$</span>30.00
                                                    </span>
                                                </span>

                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6 mt-4">
                                    <div class="content">
                                        <a href="#url">
                                            <img src="~/user/assets/images/4.png" class="img-fluid" alt="">
                                            <div class="lte-item-descr text-center">
                                                <ul class="star-rating d-flex justify-content-center">
                                                    <li>
                                                        <a href="#">
                                                            <span class="fa fa-star  mr-1"
                                                                  aria-hidden="true"></span>

                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span class="fa fa-star  mr-1"
                                                                  aria-hidden="true"></span>

                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span class="fa fa-star  mr-1"
                                                                  aria-hidden="true"></span>

                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span class="fa fa-star  mr-1"
                                                                  aria-hidden="true"></span>

                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span class="fa fa-star  mr-1"
                                                                  aria-hidden="true"></span>

                                                        </a>
                                                    </li>


                                                </ul>
                                                <h4 class="product-title">Classic Seafood Pizza</h4>
                                                <p class="mb-4">
                                                    Sed ut perspiciatis unde omnis iste natus
                                                    error sit voluptatem
                                                </p>
                                                <span class="price">
                                                    <span class="amount">
                                                        <span class="price-currency=">$</span>30.00
                                                    </span>
                                                </span>

                                            </div>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="products-content">
                            <div class="row">
                                <div class="col-lg-3 col-sm-6 mt-4">
                                    <div class="content">
                                        <a href="#url">
                                            <img src="~/user/assets/images/7.png" class="img-fluid" alt="">
                                            <div class="lte-item-descr text-center">
                                                <ul class="star-rating d-flex justify-content-center">
                                                    <li>
                                                        <a href="#">
                                                            <span class="fa fa-star  mr-1"
                                                                  aria-hidden="true"></span>

                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span class="fa fa-star  mr-1"
                                                                  aria-hidden="true"></span>

                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span class="fa fa-star  mr-1"
                                                                  aria-hidden="true"></span>

                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span class="fa fa-star  mr-1"
                                                                  aria-hidden="true"></span>

                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span class="fa fa-star  mr-1"
                                                                  aria-hidden="true"></span>

                                                        </a>
                                                    </li>


                                                </ul>
                                                <h4 class="product-title">Herb Chicken Fillet</h4>

                                                <p class="mb-4">
                                                    Sed ut perspiciatis unde omnis iste natus
                                                    error sit voluptatem
                                                </p>
                                                <span class="price">
                                                    <span class="amount">
                                                        <span class="price-currency=">$</span>30.00
                                                    </span>
                                                </span>

                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6 mt-4">
                                    <div class="content">
                                        <a href="#url">
                                            <img src="~/user/assets/images/8.png" class="img-fluid" alt="">
                                            <div class="lte-item-descr text-center">
                                                <ul class="star-rating d-flex justify-content-center">
                                                    <li>
                                                        <a href="#">
                                                            <span class="fa fa-star  mr-1"
                                                                  aria-hidden="true"></span>

                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span class="fa fa-star  mr-1"
                                                                  aria-hidden="true"></span>

                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span class="fa fa-star  mr-1"
                                                                  aria-hidden="true"></span>

                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span class="fa fa-star  mr-1"
                                                                  aria-hidden="true"></span>

                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span class="fa fa-star  mr-1"
                                                                  aria-hidden="true"></span>

                                                        </a>
                                                    </li>


                                                </ul>
                                                <h4 class="product-title">Chicken Fillet with Salad</h4>

                                                <p class="mb-4">
                                                    Sed ut perspiciatis unde omnis iste natus
                                                    error sit voluptatem
                                                </p>
                                                <span class="price">
                                                    <span class="amount">
                                                        <span class="price-currency=">$</span>30.00
                                                    </span>
                                                </span>

                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6 mt-4">
                                    <div class="content">
                                        <a href="#url">
                                            <img src="~/user/assets/images/9.png" class="img-fluid" alt="">
                                            <div class="lte-item-descr text-center">
                                                <ul class="star-rating d-flex justify-content-center">
                                                    <li>
                                                        <a href="#">
                                                            <span class="fa fa-star  mr-1"
                                                                  aria-hidden="true"></span>

                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span class="fa fa-star  mr-1"
                                                                  aria-hidden="true"></span>

                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span class="fa fa-star  mr-1"
                                                                  aria-hidden="true"></span>

                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span class="fa fa-star  mr-1"
                                                                  aria-hidden="true"></span>

                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span class="fa fa-star  mr-1"
                                                                  aria-hidden="true"></span>

                                                        </a>
                                                    </li>


                                                </ul>
                                                <h4 class="product-title">Boiled Pork with Spices</h4>

                                                <p class="mb-4">
                                                    Sed ut perspiciatis unde omnis iste natus
                                                    error sit voluptatem
                                                </p>
                                                <span class="price">
                                                    <span class="amount">
                                                        <span class="price-currency=">$</span>30.00
                                                    </span>
                                                </span>

                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6 mt-4">
                                    <div class="content">
                                        <a href="#url">
                                            <img src="~/user/assets/images/7.png" class="img-fluid" alt="">
                                            <div class="lte-item-descr text-center">
                                                <ul class="star-rating d-flex justify-content-center">
                                                    <li>
                                                        <a href="#">
                                                            <span class="fa fa-star  mr-1"
                                                                  aria-hidden="true"></span>

                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span class="fa fa-star  mr-1"
                                                                  aria-hidden="true"></span>

                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span class="fa fa-star  mr-1"
                                                                  aria-hidden="true"></span>

                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span class="fa fa-star  mr-1"
                                                                  aria-hidden="true"></span>

                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span class="fa fa-star  mr-1"
                                                                  aria-hidden="true"></span>

                                                        </a>
                                                    </li>


                                                </ul>
                                                <h4 class="product-title">Herb Chicken Fillet</h4>
                                                <p class="mb-4">
                                                    Sed ut perspiciatis unde omnis iste natus
                                                    error sit voluptatem
                                                </p>
                                                <span class="price">
                                                    <span class="amount">
                                                        <span class="price-currency=">$</span>30.00
                                                    </span>
                                                </span>

                                            </div>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>